/.vs
/definition_dump
/DC
/opcode_dump
/ReleaseRevision
/sysmsg_dump
/tera_network_crypto
/trans_menma.py
/build_tb_whitlistopcode.py
/build_tb_whitlistopcode.bat
*.dat
*.exe
*.map
*.node
*.txt